/*---------------------------------------GENERAL----------------------------------*/

@font-face {
    font-family: 'MadimiOne';
    src: url('./MadimiOne-Regular.ttf') format('truetype');
}

html{
    height: fit-content;
    width: 98.68%;
}

body{
    border:8px solid #48a9a67c;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 3em;
    color: #345995;
    font-family: 'MadimiOne', sans-serif;
}

#Bodey{
    /*height: 100vh;*/
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
    background-color: #14342B;
}

#M2Ptitle{
    display: flex;
    justify-content: space-evenly;
    font-style: italic;
    font-size: 2em;
}

#routes{
    display: flex;
    justify-content: space-evenly;
}

.routes{
    border: 3px solid green;
    border-radius: 15px;
    margin: 1%;                                                 /*CLASE!!!!*/
    padding: 6px;
    color: rgba(250, 0, 250, 0.705);
}

/*---------------------------------------HOME PAGE----------------------------------*/

#pg1Img{
    border: 7px solid #14342B;
    border-radius: 30px;
    width: 90%;
    height: fit-content;
    margin: 1%;
}
#DuneBackground{
    width: 100%;
    border-radius: 23px;
}

#imagestuff{
    display: flex;
    justify-content: space-evenly;
}

#pt1imgfooter{
    font-size: 0.7em;
    padding: 0px 0px 0px 20px;
}

#filmcontainer{
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 17.5em;
}

#moviesbutton{
    font-size: 0.6em;
}

/*---------------------------------------SOBRE M2P----------------------------------*/

#imgcontainerpg2{
    border: 5px solid red;
    height: 20em;
}

/*---------------------------------------WEBS RECOMENDADAS----------------------------------*/

img[alt='Cuevana'], img[alt='Nesflis'], img[alt='Disney+']{
    width: 40%;
    background-color: white;
}
img[alt='Soap2Day']{
    width: 40%;
    height: 8em;
}


/*animation*/

.container {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
}
  
.container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}
  
.container:hover .box {
    transform: rotateY(25deg);
}
  
.container .box:hover ~ .box {
    transform: rotateY(-25deg);
}
  
.container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
  
.container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #f00, #000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
  
.container .box:hover .imgBx:before {
    opacity: 1;
}
  
.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
  
.container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}
  
.container .box:hover .content h2 {
    transform: translateY(0px);
}
  
.container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}
  
.container .box:hover .content p {
    transform: translateY(0px);
}

.box-link {
  text-decoration: none;
}

.box-link:hover .box {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.box-link:hover {
  cursor: pointer;
}

/*---------------------------------------TARJETAS DE PELICULAS-HOME PAGE----------------------------------*/

#filmcontainer {
    position: relative;
    width: 1160px;
    height: 30em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
}
  
#filmcontainer .tarjeta {
    position: relative;
    width: 10em;
    height: 10em;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}
  
#filmcontainer:hover .tarjeta {
    transform: rotateY(25deg);
}
  
#filmcontainer .tarjeta:hover ~ .tarjeta {
    transform: rotateY(-25deg);
}
  
#filmcontainer .tarjeta:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
  
#filmcontainer .tarjeta .cajaimagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
#filmcontainer .tarjeta .cajaimagen:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #345995, #000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
  
#filmcontainer .tarjeta:hover .cajaimagen:before {
    opacity: 1;
}
  
#filmcontainer .tarjeta .cajaimagen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
#filmcontainer .tarjeta .contenidos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
  
#filmcontainer .tarjeta .contenidos h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}
  
#filmcontainer .tarjeta:hover .contenidos h2 {
    transform: translateY(0px);
}
  
#filmcontainer .tarjeta .contenidos p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}
  
#filmcontainer .tarjeta:hover .contenidos p {
    transform: translateY(0px);
}
  